:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  text-align: center;
  background-color: pink;
  background-image: url('https://img.freepik.com/free-vector/light-pink-heart-pattern_53876-67660.jpg?w=1380&t=st=1707151083~exp=1707151683~hmac=657d335d3af2103a0018201653da0ad8823e6e8bcd8be1645da2e5b8fef215c6');
}

img {
  height: 200px;
}

ul {
  list-style: none;
}

p {
  font-weight: 600;
  font-size: 25px;
}

.btnList {
  display: flex;
  gap: 10px;
  padding-left: 0;
  justify-content: center;
}

.mainForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  color: aliceblue;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnYes {
  background-color: rgb(12, 168, 12);
}

.btnNo {
  font-size: 15px;
  padding: 16px 30px;
  background-color: red;
}

.btnSurprise {
  font-size: 50px;
  padding: 15px 40px;
  background-color: rgb(247, 170, 240);
}

.btnYes:hover,
.btnYes:focus {
  background-color: #3b702f;
}

.btnNo:hover,
.btnNo:focus {
  background-color: #a03421;
}

.btnSurprise:hover,
.btnSurprise:focus {
  background-color: #eb27ca;
}

.text2 {
  margin-top: 10px;
}

.text1 {
  margin-bottom: 10px;
}
